<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722942875039-5fhhhi6ek13b0ajd4p1681v8hqtck6ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722942875039-5fhhhi6ek13b0ajd4p1681v8hqtck6ud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722942875039-u94ltlton68kfomt8aelkab42lvf09i4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDa-94AQ8DWIhYp_UqXy1sSjlP2FbaLCrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>722942875039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adv.storeviu.StoreMo</string>
	<key>PROJECT_ID</key>
	<string>storevue</string>
	<key>STORAGE_BUCKET</key>
	<string>storevue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722942875039:ios:0a1a546df878d096f899aa</string>
	<key>DATABASE_URL</key>
	<string>https://storevue.firebaseio.com</string>
</dict>
</plist>